@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
}
.sidebar {
  width: 300px;
  height: 100%;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}
.filters {
  margin-top: 60px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  background: #1bc47d;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo i {
  color: white;
  font-size: 24px;
}
.sidebar-header h2 {
  font-size: 24px;
  color: #333;
  font-weight: 600;
}
.sidebar-header p {
  color: grey;
}
nav.filters button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 12px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background: #f0f0f0;
  margin: 8px 0;
  font-weight: 500;
  transition: all 0.3s ease;
}
nav.filters button:hover {
  background: #e0e0e0;
}
nav.filters .filter-active {
  background: #1bc47d;
  color: white;
}
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 0;
  border-top: 1px solid #e0e0e0;
}

/* main content styles */
.main-content {
  flex: 1;
  padding: 48px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header h1 {
  font-size: 32px;
  font-weight: 600;
  color: #333;
}
#add-task {
  padding: 12px 20px;
  background: #1bc47d;
  color: #fff;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.plus-icon{
    margin-right: 4px;
    font-weight: 400;
}
#add-task:hover {
  background: #16a65a;
  transform: scale(1.05);
}
